body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #222;
}

header {
  background-color: #1e1c1c;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 50px;
  text-align: center;
}

.catalog {
  display: flex;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}

.item {
  background: #fff;
  border: 1px solid #423c3c;
  padding: 15px;
  width: 200px;
  text-align: center;
}